* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1040px;
  width: 95%;
  margin: auto;
}

.br {
  display: block;
}

.headline {
  font-family: "Trebuchet MS";
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
}

.main-text_bold {
  font-weight: bold;
}

.main-text_f16 {
  font-size: 16px;
}

.main-text_f14 {
  font-size: 14px;
}

.main-text_f22 {
  font-size: 22px;
}

.pt-5 {
  padding-top: 5px;
}

.mb-10 {
  margin: 0 0 -10px 0;
}

@media (max-width: 1100px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 810px) {
  .container {
    max-width: 425px;
  }
  .headline {
    font-size: 32px;
    line-height: normal;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 320px;
  }
  .headline {
    font-size: 28px;
  }
}

.header {
  color: #ffffff;
  background-color: #00bff3;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105px;
}

.navbar__image {
  margin-right: 12px;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-description {
  max-width: 130px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-phone {
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.navbar-button {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-bottom: 1px dotted #ffffff;
  background-color: unset;
  cursor: pointer;
  outline: none;
}

.navbar__button {
  margin: 0 71px 0 34px;
}

.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-social__link {
  margin-left: 10px;
}

.navbar-social__link:first-child {
  margin-left: 0;
}

@media (max-width: 1100px) {
  .navbar-phone {
    display: none;
  }
  .navbar-description {
    display: none;
  }
}

@media (max-width: 810px) {
  .navbar {
    min-height: 70px;
  }
  .navbar__button {
    margin: 0;
  }
  .navbar__social {
    display: none;
  }
}

@media (max-width: 450px) {
  .navbar__image {
    max-width: 140px;
  }
}

.banner {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 275px;
  background: url("../img/banner/banner.png") no-repeat top left;
}

.banner__under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -53px;
}

.banner-attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 230px;
  text-align: center;
  background-color: rgba(255, 242, 0, 0.7);
  border-radius: 50%;
}

.banner-attention__title {
  width: 144px;
  font-family: "Trebuchet MS";
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.banner-attention__subtitle {
  margin-top: 9px;
  margin-bottom: -4px;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.banner-attention-code {
  padding: 3px 7px 3px 6px;
  font-family: "Trebuchet MS";
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}

.banner__attention {
  margin-left: 28px;
  margin-bottom: 80px;
}

.hotel-review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 25px;
  font-family: "Trebuchet MS";
}

.hotel-review__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-review__rating {
  padding: 17px 7px;
  font-family: "Trebuchet MS";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: #00bff3;
}

.hotel-review-item {
  font-weight: 700;
}

.hotel-review-item__title {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #777777;
}

.hotel-review-item__rating {
  font-size: 18px;
}

.hotel-name {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.hotel-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel__stars {
  margin-left: 33px;
  margin-right: 32px;
}

.hotel__star {
  margin-right: 3px;
}

.hotel__star:last-child {
  margin-right: 0;
}

.hotel-cost {
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
}

.hotel-result {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.hotel-result__number {
  display: block;
  color: #777777;
}

.sun-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sun-days__number {
  font-family: "Trebuchet MS";
  font-size: 100px;
  font-weight: 400;
  line-height: 0.9;
  color: #777777;
}

.sun-days__text {
  max-width: 166px;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 1101px) {
  .sun-days {
    margin-right: 87px;
  }
  .sun-days__text {
    padding-left: 7px;
    padding-top: 2px;
  }
}

@media (max-width: 1100px) {
  .banner {
    background-size: contain;
    padding-top: 120px;
  }
  .sun-days__number {
    font-size: 54px;
  }
}

@media (max-width: 810px) {
  .banner {
    background-size: 700px;
    padding-top: 85px;
  }
  .banner__under {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-attention {
    margin-left: auto;
    margin-right: auto;
  }
  .hotel-review-item {
    margin-top: 20px;
  }
  .hotel-review__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hotel-result {
    -ms-flex-preferred-size: 77%;
        flex-basis: 77%;
  }
  .hotel-name {
    font-size: 24px;
  }
  .hotel-cost {
    font-size: 26px;
  }
  .sun-days {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 15px;
  }
  .sun-days__text {
    margin-left: 20px;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .hotel-review__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-review-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-stars {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sun-days__number {
    font-size: 52px;
  }
  .sun-days__text {
    font-size: 19px;
  }
}

.extreme {
  -ms-flex-preferred-size: 502px;
      flex-basis: 502px;
  min-height: 279px;
  font-family: "Trebuchet MS";
  -o-object-fit: contain;
     object-fit: contain;
}

.extreme-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extreme__list {
  margin: 37px 0 66px;
}

.extreme__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.extreme-title {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.extreme__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 30px;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

.extreme__price {
  font-size: 50px;
  font-weight: 700;
}

.extreme__old-price {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #777777;
}

.extreme__old-price:after {
  position: absolute;
  top: 50%;
  left: -7px;
  display: block;
  width: 41px;
  height: 1px;
  background: #ff0000;
  content: '';
}

@media (max-width: 1100px) {
  .extreme {
    -ms-flex-preferred-size: 365px;
        flex-basis: 365px;
  }
  .extreme-title {
    font-size: 24px;
  }
  .extreme__price {
    font-size: 40px;
  }
}

@media (max-width: 810px) {
  .extreme {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 65px;
  }
  .extreme__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .extreme {
    margin-bottom: 0;
  }
  .extreme-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .extreme__price {
    font-size: 28px;
  }
  .extreme__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__headline {
  margin-bottom: 5px;
}

.main-text p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 20px;
}

.main-text-title {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.main-text__title {
  margin-bottom: -10px;
}

.main-text-quote {
  margin: 15px 0;
  padding: 1px 10px;
  background-color: rgba(0, 191, 243, 0.06);
  border-left: 3px solid #00bff3;
}

.main-text__quote {
  margin-left: 25px;
}

.main-text__list {
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
}

.main-side {
  padding-top: 211px;
  padding-left: 55px;
}

.main-side__title {
  padding-right: 12px;
  font-family: "Trebuchet MS";
  font-size: 100px;
  font-weight: 400;
  color: #777777;
}

.main-side__subtitle {
  display: block;
  font-family: "Trebuchet MS";
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

.main-side-text__end {
  display: block;
  margin-left: -10px;
}

.main-side__text {
  max-width: 212px;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table {
  width: 100%;
  margin: 20px 0;
  padding-right: 20px;
  border-spacing: 0;
}

.table-head {
  background-color: #ebebeb;
  border-bottom: 1px solid #777777;
}

.table td {
  padding: 7px 0 8px 25px;
  font-size: 14px;
  border-bottom: 1px solid #ebebeb;
}

.table td:first-child {
  padding-left: 21px;
}

.table tr:last-of-type td {
  border: none;
}

.table strong {
  font-size: 12px;
}

.table-th {
  padding: 10px 0 6px 25px;
  font-size: 12px;
  font-weight: bold;
  text-align-last: left;
  border-bottom: 1px solid #777777;
}

.table-tr-primary {
  border-top: 2px solid #ebebeb;
}

@media (max-width: 1100px) {
  .main-text {
    overflow: hidden;
  }
  .table {
    display: block;
    overflow-x: scroll;
  }
  .wrap-line {
    display: none;
  }
}

@media (max-width: 810px) {
  .main-side {
    display: none;
  }
  .main-text__quote {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */